a[class*="abrir-"] {
    background: transparent;
    border: 3px dotted #999;
    border-radius: 2rem;
    padding: 1rem;
    position: fixed;
    bottom: 15px;
    z-index: 1;
}

.abrir-chat {
    left: 15px;
}

.abrir-editor {
    right: 15px;
}

.abrir-chat:hover,
.abrir-editor:hover {
    filter: sepia(100%);
}

button.chat {
    background: var(--background);
    border: 0;
    border-radius: 50%;
    padding: 20px;
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 69px;
}

.chat {
    padding: 0;
}

.chat header {
    padding: 10px;
}

.chat header .conversacion {
    margin-bottom: 0;
    margin-top: 10px;
}

.chat section {
    padding: 10px;
}

.chat:not(.conversaciones) section {
    height: calc(100vh - 385px);
    overflow: auto;
}

.chat footer {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.chat footer .botonera {
    text-align: center;
}

.chat .cabecera {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 80px 1fr 50px;
    margin-bottom: 15px;
}

.chat .cabecera button {
    height: 30px;
}

.chat .cabecera div:last-child {
    text-align: right;
}

.mensajes {
    height: calc(100vh - 325px);
    overflow-y: auto;
}

.mensaje {
    display: flex;
    margin-bottom: 15px;
}

.mensaje.propio {
    flex-direction: row-reverse;
}

.mensaje .avatar {
    display: inline-block;
    text-align: center;
    width: 80px;
}

.mensaje .avatar img {
    display: inline-block;
    height: 70px;
    width: 70px;
}

.mensaje .contenido {
    border: 1px solid var(--primary);
    border-radius: 0 15px 15px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: calc(100% - 85px);
    word-break: break-all;
}

.mensaje.propio .contenido {
    border-radius: 15px 0 15px 15px;
}

.mensaje .fecha {
    float: right;
    font-size: smaller;
    text-align: right;
    width: 70px;
}