.dropimage {
    border: 3px dashed #999;
    min-height: 150px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.dropimage:after {
    color: #999;
    content: "+";
    font-size: 72px;
    position: absolute;
    left: 50%;
    top: calc(50% - 5px);
    transform: translate(-50%, -50%);
}

.dropimagehover:after,
.dropnocontent:after {
    content: "";
}

.dropnocontent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.dropnocontent:hover:after {
    content: "+";
}

.dropimage.dropnocontent button,
.dropimage.dropnocontent .quitar {
    background: #fff;
    color: #999;
    margin-bottom: 0;
    padding: 5px;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 10;
    width: fit-content;
}

.dropimage.dropnocontent button svg {
    display: block;
}

.dropimage:not(.dropnocontent) button,
.dropimage:not(.dropnocontent) .quitar {
    display: none;
}

.dropimage input {
    border: 0;
    cursor: pointer;
    height: 100% !important;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.dropimage img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}