.display-cell {
    display: table-cell;
}

.mb15 {
    margin-bottom: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mt15 {
    margin-top: 15px;
}

.mv15 {
    margin-bottom: 15px !important;
    margin-top: 15px;
}

.pa15 {
    padding: 15px !important;
}