
html {
    min-height: 100%;
}

body>div:first-child {
    background-image: url('/img/v3_5/nosferatu_mordiendo_a_un_goblin.webp');
    background-position: center;
    background-size: cover;
    position: fixed;
    inset: 0;
    transform: scale(1.25);
    width: 100%;
    height: 100%;
    z-index: -1;
}

form {
    margin: 0 auto;
    width: 280px;
}

.truncate {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncate img {
    vertical-align: top;
}
