[role="button"],
button {
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #666;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    line-height: 20px;
    min-height: 48px;
    min-width: 48px;
    padding: 4px 8px;
    width: fit-content;
}

button:hover img[src*="icon"] {
    filter: sepia(100%);
}