label {
    align-items: center;
    background: var(--card-background);
    border: none;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    line-height: 20px;
    min-height: 48px;
    min-width: 48px;
    padding: 4px 8px;
    width: fit-content;
}