@font-face {
    font-family: 'Caveat';
    src: url('/fonts/caveat/regular.woff2');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Crimson Pro Regular';
    src: url('/fonts/crimson_pro/variable.woff2');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Colus';
    src: url('/fonts/colus/regular.woff2');
    font-weight: normal;
    font-style: normal
}
