main header:has(>div),
main section:has(>div),
main footer:has(>div) {
    display: flex;
    flex-direction: row;
    gap: var(--column-gap);
    width: 100%;
}

main header:has(>div)>div,
main section:has(>div)>div,
main footer:has(>div)>div {
    flex: 1;
    width: 100%;
}
