main :is(ol, ul) {
    padding-left: var(--list-padding);
}

main ul {
    list-style: none;
}

main ul>li::before {
    content: var(--list-bullet);
    margin-left: calc(-1 * var(--list-padding));
    color: var(--color-text);
}

main ul>li li::before {
    content: var(--list-sub-bullet);
    margin-left: calc(-1 * var(--list-padding));
}

main ul.checkbox li::before {
    content: var(--list-checkbox);
}

main ul.radio li::before {
    content: var(--list-radio);
}

main ul li:has(> :is(em, strong))::before,
main ul li:has(> b)~li:has(> :is(em, strong))::before {
    color: var(--color-text);
}

main ul li:has(> :is(em, strong)):has(~ li > b:first-child)::before {
    color: var(--color-primary);
}

main ul li:has(> :is(em, strong)):has(~ li > b:first-child)>:is(em, strong) {
    color: var(--color-primary);
}

ol li::marker {
    font-weight: bold;
}