.plantilla>div article {
    background: url('/img/editor/dragonbane/96/pergamino.webp');
    background-size: cover;
    counter-increment: page;
    font: var(--font-size-body) var(--font-body);
    color: var(--color-text);
}

.plantilla>div article>section {
    padding-inline: var(--spacing-page-inline);
    /*margin-bottom: 20px;*/
}

.plantilla>div article>section:first-child {
    padding-top: var(--spacing-page-top);
}

.plantilla>div article>section:last-child {
    padding-bottom: var(--spacing-page-bottom);
    /*margin-bottom: 0;*/
}

/*div>*:last-child {
    margin-bottom: 0;
}*/