main caption {
    align-items: center;
    background-image: var(--bg-band);
    background-position: center, left center, right;
    background-repeat: no-repeat;
    background-size: calc(100% - 40px) 100%, 30px 40px, 30px 40px;
    color: #fff;
    display: flex;
    font-size: var(--font-size-caption);
    height: 40px;
    inset: -28px 0 auto;
    margin: auto;
    padding: 0 30px;
    position: absolute;
    top: -45px;
    width: fit-content;
}

main caption::before {
    background-position: center left;
    margin-left: -2mm;
    margin-right: 0.2em;
}

main caption::after {
    background-position: center right;
    margin-left: 0.2em;
    margin-right: -2mm;
}

main table {
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

main table:has(caption) {
    margin-block: 100px 5px;
}

main div>table:first-child {
    margin-top: 0;
}

main div>table:has(caption):first-child {
    margin-top: 45px;
}

main div>table:last-child {
    margin-bottom: 0;
}

main th,
main td {
    padding: var(--spacing-cell);
    vertical-align: top;
}

main th {
    border-bottom: var(--border-th);
    color: var(--color-secondary);
}

main td {
    border-bottom: var(--border-td);
}

main tr:nth-child(even) {
    background-color: var(--color-bg-even-row);
}

main table:has(+ul) {
    margin-bottom: 0;
}