@font-face {
    font-family: 'Frail&Bedazzled';
    src: url('/fonts/frail_bedazzled.woff2') format('woff2')
}

article {
    background: white;
}

blockquote {
    font-style: italic;
}

.resultado h1,
.resultado h2,
.resultado h3,
.resultado h4,
.resultado h5,
.resultado h6 {
    color: #333;
    font-family: 'Frail&Bedazzled';
    font-weight: normal;
}

hr {
    border: 1px solid #ddd;
}

main>section>div {
    padding: 25px;
}

p {
    margin-top: 0;
}

.a4.landscape section {
    background: white;
    height: 20.99cm;
    width: 29.7cm;
}

.a4.portrait section {
    height: 29.7cm;
    width: 20.99cm;
}

.bordered,
.bordered td {
    border: 3px solid #aaa;
}

table.bordered {
    border-collapse: collapse;
    border-spacing: 0;
}

.bordered td {
    padding: 5px;
}

.bordered .borderless {
    border-color: white;
    color: #aaa;
    font-weight: bold;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.mha {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.align-right {
    text-align: right;
}