.resultado caption {
    align-items: center;
    background-image:
        url("data:image/svg+xml;utf8,<svg height='40' width='80' xmlns='http://www.w3.org/2000/svg'><path d='M0 5 L0 35 L30 35 Q38 35, 40 40 Q42 35, 50 35 L80 35 L80 5 L50 5 Q42 5, 40 0 Q38 5, 30 5 Z' fill='RGB(0, 96, 77)'/></svg>"), url("data:image/svg+xml;utf8,<svg height='40' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M30 5 Q20 5 ,20 2 Q13 13, 0 20 Q13 27, 20 38 Q20 35, 30 35 Z' fill='RGB(0, 96, 77)'/></svg>"),
        url("data:image/svg+xml;utf8,<svg height='40' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M0 5 Q10 5 ,10 2 Q17 13, 30 20 Q17 27, 10 38 Q10 35, 0 35 Z' fill='RGB(0, 96, 77)'/></svg>");
    background-position: center, left center, right;
    background-repeat: no-repeat;
    background-size: calc(100% - 40px) 100%, 30px 40px, 30px 40px;
    color: white;
    display: flex;
    font-size: 14pt;
    height: 40px;
    inset: -28px 0 auto;
    margin: auto;
    padding: 0 30px;
    position: absolute;
    top: -45px;
    width: fit-content;
}

.resultado caption::before {
    background-position: center left;
    margin-left: -2mm;
    margin-right: .2em;
}

.resultado caption::after {
    background-position: center right;
    margin-left: .2em;
    margin-right: -2mm;
}

.resultado table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-block: 15px;
    position: relative;
    text-align: left;
    width: 100%;
}

.resultado table:has(caption) {
    margin-block: 65px 20px;
}

.resultado div>table:first-child {
    margin-top: 0;
}

.resultado div>table:has(caption):first-child {
    margin-top: 45px;
}

.resultado div>table:last-child {
    margin-bottom: 0;
}

.resultado th,
.resultado td {
    font-style: italic;
    padding: 5px;
    vertical-align: top;
}

.resultado th {
    background: var(--dragonred);
    color: white;
    font-weight: normal;
}

.resultado tr:nth-child(even) {
    background-color: #ccc;
}

.resultado tr:nth-child(odd) {
    background-color: white;
}

.resultado .white-first tr:nth-child(even) {
    background-color: white;
}

.resultado .white-first tr:nth-child(odd) {
    background-color: #ccc;
}

.resultado table:has(+ul) {
    margin-bottom: 0;
}
