main :is(ol, ul) {
    padding-left: 15px;
}

main ul {
    list-style: none;
}

main ul>li::before {
    content: "✦ ";
    margin-left: -15px;
}

main ul>li li::before {
    content: "⮞ ";
    margin-left: -15px;
}

main ul.checkbox li::before {
    content: "❑ ";
}

main ul.radio li::before {
    content: "🔾 ";
}
