.cover article {
    background: rgba(0, 0, 0);
    color: gold;
}

.cover article [src*="portada"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cover article>footer {
    font: 15px 'RecursiveVF';
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 1;
    text-align: center;
    transform: translate(-50%, -50%);
}