.resultado fieldset {
    border: 2px solid var(--color-border-primary);
    margin: 0;
    padding: 10px;
}

.resultado legend {
    border: 2px solid var(--color-border-primary);
    padding: 0 5px;
}