.plantilla article footer:before {
    background-image: var(--bg-footer);
    background-size: 100% auto;
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    transform: scaleX(-1);
}

.a5.plantilla article footer:before {
    filter: contrast(0.5);
    height: 43px;
}

/*#important .bleed .plantilla > div article footer:before {
    height: 62px;
}*/

.plantilla>div:nth-child(even) footer:before {
    transform: scaleX(1);
}

.plantilla article footer {
    color: var(--color-text-footnote);
    font-size: .8em;
    height: 43px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/*#important .bleed .plantilla > div article footer {
    height: 55px;
}*/

#important footer.color-invert {
    color: var(--color-accent-gold);
}

.plantilla>div:nth-child(odd) footer {
    padding-inline: 70px;
    text-align: left;
}

.a5.plantilla>div:nth-child(odd) footer {
    padding-inline: 44px;
}

.plantilla>div:nth-child(2n) footer {
    padding-inline: 70px;
    text-align: right;
}

.a5.plantilla>div:nth-child(2n) footer {
    padding-inline: 44px;
}

.plantilla>div {
    counter-increment: page;
}

.plantilla article footer:after {
    content: counter(page);
    position: absolute;
    bottom: 16px;
    text-align: center;
    width: 55px;
}

.a5.plantilla article footer:after {
    bottom: 17px;
    width: 36px;
}

/*#important .bleed .plantilla > div article footer:after {
    bottom: 27px;
}*/

.plantilla>div:nth-child(odd) footer:after {
    left: 0;
}

.plantilla>div:nth-child(even) footer:after {
    right: 0;
}

.plantilla footer {
    text-transform: uppercase;
}