.resultado :is(ol, ul) {
    margin: 5px 0 10px 0;
}

.resultado ol.upper-roman {
    list-style: upper-roman;
}

.resultado ol.lower-latin {
    list-style: lower-latin;
}

.resultado ul>li::before {
    color: var(--color-text-header);
}