.page article {
    background: var(--bg-page);
    background-size: cover;
    font: 13px/1.25 var(--font-body);
}

.a4 article>header {
    padding: 49px 49px 0;
}

.a4 article>section {
    padding: 0 49px;
}


.a5 article>header {
    padding: 18px 18px 0;
}

.a5 article>section {
    padding: 0 18px;
}

article>footer {
    padding: 23px 0 0;
}