form small,
body > :not(main) input:not([type=checkbox]):not([type=radio]),
label,
body > :not(main) select,
body > :not(main) textarea {
    display: block;
    width: 100%;
}

body > :not(main) input:not([type=checkbox]):not([type=radio]),
.dropimage,
body > :not(main) select,
body > :not(main) textarea {
    margin-bottom: 20px;
}
