img {
    max-width: 100%;
    vertical-align: middle;
}

.faded {
    display: block;
    height: auto;
    mask-image: radial-gradient(ellipse farthest-side, black 40%, transparent 100%);
    max-width: 100%;
}