/*.resultado ol.inline {
    counter-reset: conteo-lista;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.resultado ol.inline li {
    align-items: baseline;
    counter-increment: conteo-lista;
    display: flex;
    gap: 0.5rem;
}

.resultado ol.inline li::before {
    content: counter(conteo-lista) ". ";
    flex-shrink: 0;
    font-weight: bold;

}

.resultado ul.inline {
    column-gap: 25px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
}

.resultado ul.inline li {
    margin-bottom: 0;
}*/

.resultado :is(ol, ul) {
    padding-left: 11.25pt;
}

.resultado ul {
    list-style: none;
}

.resultado ul>li::before {
    content: "✦ ";
    margin-left: -11.25pt;
}

.resultado ul>li li::before {
    content: "⮞ ";
    margin-left: -11.25pt;
}

.resultado ul.checkbox li::before {
    content: "❑ ";
}

.resultado ul.radio li::before {
    content: "🔾 ";
}