html {
    scroll-behavior: smooth;
}

body {
    background: grey;
    counter-reset: page;
    padding: 25px 25px 0;
    width: fit-content;
}

:where(a) {
    color: var(--link);
    text-decoration: none;
}

.resultado>div {
    margin-bottom: 25px;
}

article {
    overflow: hidden;
    position: relative;
}

section {
    clear: both;
    position: relative;
    z-index: 1;
}

.editor ul {
    border-left: 4px solid lightgrey;
    list-style: none;
    padding-left: 5px;
}

/* 8,5" (816px) x 11" (1056px) -> 8,75" x 11,25" */

.letter.landscape article {
    height: 8.5in;
    width: 11in;
}

.letter.portrait>div {
    background-color: white;
}


/*.letter.portrait>div:nth-child(odd) {
    padding: .125in 0 .125in .125in;
}

.letter.portrait>div:nth-child(even) {
    padding: .125in .125in .125in 0;
}*/

.letter.portrait article {
    height: 11in;
    width: 8.5in;
}

.letter.portrait.bleed article {
    height: 11.25in;
    width: 8.75in;
    padding: 0.551181in 0.748031in 0.433071in;
}

.a4.landscape article {
    height: 21cm;
    width: 29.7cm;
}

.a4.portrait article {
    height: 29.7cm;
    width: 21cm;
}


/* BUTTON EDIT RULE */

.resultado>div {
    position: relative;
}

.resultado>div a[data-ajax=".ajax.show"] {
    background: white;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px #666;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 2;
}