:is(h1, h2, h3, h4, h5, h6, p, section, table) {
    margin-block: 10px 0;
}

:is(ol, ul) {
    margin-block: 0;
}

:is(h1, h2, h3, h4, h5, h6)+* {
    margin-top: 5px;
}

:not(blockquote h5):first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

li {
    margin-bottom: 5px;
}